.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.bio-box-container {
  display: grid;
  font-weight: bold;
  max-width: 900px;
  width: 80%;
  height: 400px;
  min-width: 455px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 25px;
  padding: 25px;
  margin-right: 80px;
  overflow: auto;
}


.stryker-logo {
  display: flex;
  max-height: 650px;
  max-width: 100%; /* Set maximum width to 100% */
  padding-top: 10px;
  padding-left: 80px;
  padding-bottom: 40px;
  margin-right: 30px;
}
