.page-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact-form {
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
