.carousel-item {
  height: 350px;
  min-height: 10%;
}

.carousel-photo {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  min-height: 10%;
  align-items: center;
  border-radius: 7px;
  margin-left: 75px;
  margin-top: 50px;
}

.carousel-caption {
  width: 400px;
  height: 300px;
  margin-left: 200px;
  margin-bottom: 15px;
  margin-right: -45px;
  text-align: left;
}

.stack-container {
  display: flex;
  max-width: 10%;
  min-width: 0%;
  align-items: center;
  gap: 10px;
  padding-bottom: 25px;
}

.stack-icon {
  max-height: 64px;
  min-width: 75%;
}

.carousel-caption h3 {
  font-weight: bolder;
  font-size: 20px;
  text-decoration: underline;
  color: rgba(105, 105, 255, 0.658);
}

.carousel-caption p {
  font-weight: lighter;
}

.custom-carousel-caption {
  color: inherit;
}

.carousel-control-next {
  display: grid;
  margin-right: 5.5%;
}
