.carousel-item {
  height: 350px;
}

.carousel-photo {
  max-width: 200px;
  max-height: 200px;
  align-items: center;
  border-radius: 7px;
  margin-left: 75px;
  margin-top: 50px;
}

.carousel-caption {
  width: 400px;
  height: 300px;
  margin-left: 200px;
  margin-bottom: 15px;
  margin-right: -45px;
  text-align: left;
}

.stack-container {
  height: 64px;
  width: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 25px;
}

.carousel-caption h3 {
  font-weight: bolder;
  font-size: 20px;
  text-decoration: underline;
  color: rgba(105, 105, 255, 0.658);
}
